[2022-02-18 08:18] madmurl0c opened #2 "Context doesn't get added/updated"
Hey there,

first of all thanks for making this script, it really helped me to migrate from xliffmerge.

I've discovered a little bug that I'd like to report when using `"includeContext": true,`.
If you change the location of a "i18n" tag or add a new one with the same value than an existing one it doesn't seem to merge the updated to the `<note category="location">` tags correctly.

Here's a scen

[2022-02-18 08:21] daniel-sc commented on #2
@madmurl0c Thanks for bringing this up. You are right about this - I'll fix this (hopefully today)!

[2022-02-18 08:57] madmurl0c commented on #2
Thanks a lot for your fast response :)

[2022-02-18 14:15] daniel-sc commented on #2
This is wired - I can reproduce this, but do not understand it :)
As I have a week of holidays, I'll look into this next month - if you like, you can check out if you find the issue - you might need to check the two relevant upstream projects: [daniel-sc/xliff-simple-merge](https://github.com/daniel-sc/xliff-simple-merge) and [daniel-sc/xml_normalize](https://github.com/daniel-sc/xml_normalize) ..

[2022-02-21 18:15] madmurl0c commented on #2
I tested both of your libraries and cannot reproduce the issue when using them without the angular integration.

Steps:
1. Download [xliff-simple-merge](https://github.com/daniel-sc/xliff-simple-merge) repository
2. Create/Copy dummy `messages.xlf` and `messages.de.xlf`
2. Add a new note/location tag to `messages.xlf`
2. Run [xliff-simple-merge](https://github.com/daniel-sc/xliff-simple-merge)
3.

[2022-03-02 06:18] daniel-sc commented on #2
Hi @madmurl0c please try v1.0.2 and let me know if it fixes this issue!

[2022-03-02 07:16] madmurl0c commented on #2
It works flawlessly now, thanks a lot for your efforts :)

[2022-03-09 10:26] lotterfriends opened #3 "add to project not possible"
Node Version: v12.22.9
Angular Version: 13.2.3

when I try to add the configuration to my angular.json/package.json I got following error:
[code]

It's an nx.dev repo with many apps.

[2022-03-09 10:44] lotterfriends commented on #3
translation in angular json could be a string and you expect always an array
https://github.com/daniel-sc/ng-extract-i18n-merge/blob/master/schematics/ng-add/index.ts#L47

checkout node_modules/@angular/cli/lib/config/schema.json line 313
![image](https://user-images.githubusercontent.com/3378880/157425864-3f0f3bd9-60e2-439d-a9ff-78748e89dbba.png)

[2022-03-09 12:07] daniel-sc commented on #3
Hi @lotterfriends
thanks for reporting this and doing the research!
I created a pre release `1.0.3-0` that should have this fixed - can you please check and confirm?

[2022-03-09 13:34] lotterfriends commented on #3
Work fine. Thank you  :+1:

[2022-03-09 14:15] #3 closed

[2022-03-10 07:44] lotterfriends opened #5 "xml definition is converted incorrectly"
If the first line of a translation file look like this :

[code]
it's converted wrongly to
[code]

this definition is working normal:
[code]

Looks like indentation is playing a role, which it shouldn't.

[2022-03-10 11:08] daniel-sc commented on #5
Hi @lotterfriends
thanks for reporting this!
Can you please try the prerelease `1.0.4-0` if this fixes this issue?

[2022-03-10 13:43] lotterfriends commented on #5
Looks good now, Thank you :+1:

[2022-03-10 13:43] #5 closed

[2022-03-10 16:39] Hafnernuss opened #6 "angular i18n config without baseHref is not recognized correctly"
Hi, thank you for providing a new package!

I am still using [this](https://martinroob.github.io/tiny-translator) to translate my strings. However, it seems that this tool does not pickup  new or changed translations since I switched to `ng-extract-i18n-merge`.

What do you use for actual translating?

regards,

Philipp

[2022-03-10 16:50] Hafnernuss commented on #6
Turns out, the inferred format was wrong. Changing from `xlf2` to `xlf1` works just fine!

[2022-03-10 17:01] Hafnernuss commented on #6
Sure, here is the output of `ng add`:

[code]

And the `angular.json` file:

[code]

Heads-up defense: I am fully aware that there might be errors on my side in this file, `angular.json` always confuses me

My corrected version:

[code]

[2022-03-10 17:13] daniel-sc commented on #6
I see this is actually a little bug in the "ng add" schematic on my side.
The simplified "i18n" configuration (without "baseHref") is not supported.
Will provide a fix asap.

[2022-03-10 17:15] Hafnernuss commented on #6
Ah okay, good to hear.
A big thanks for the package, it really is a perfect drop-in replacement. And it seems to be *a lot* faster than the "old" xliffmerge

[2022-03-11 08:45] lotterfriends commented on #6
In my project the format was also detected incorrectly, but I thought the error was on my side. Very cool that here is so actively developed.  Thank you @daniel-sc  🙂

[2022-03-11 09:29] #6 closed

[2022-03-11 09:52] daniel-sc commented on #6
hi @lotterfriends , @Hafnernuss
Thanks for the feedback :-)
Could you try if v1.0.5 detects the format correctly for your setup?

[2022-03-15 13:20] Martin-Hogge opened #7 "Unicode characters"
Hi ! Thank you for your library !

I have an issue when using it. It escape characters with their unicode equivalent.
For example:

[code]

Will produce

[code]

I would have expected to be `aujourd'hui` instead of `aujourd&apos;hui`.
Is their any way to configure it that way?

**EDIT**: It seems that [this PR ](https://github.com/daniel-sc/ng-extract-i18n-merge/pull/1) is actually proposing somet

[2022-03-15 13:21] Martin-Hogge opened #8 "Leave non-translated unit blank"
Actually when their is a new translation, the `target` takes the `source` value as the default one. Is their a way to leave it blank until a translation is set ?

Thank you.

[2022-03-15 13:57] daniel-sc commented on #8
Hi @Martin-Hogge
thanks for helping improving this tool!

I'd question if this is actually what you want. This would lead to missing texts in the application - I'd argue you'd rather have untranslated texts than missing texts?

(Of course if there is a relevant scenario where this would be useful, I'd be happy to include a corresponding config option)

[2022-03-15 14:17] Martin-Hogge commented on #8
In my case this is relevant for 2 reasons:
- We are actually passing the `xlf` file to a custom application used by translators and they are used to check over blank lines for a quick view of what should be translated.
- In some use case of our app, it's better to have no translation than something that could be misleading.

I imagine you could add an option like `leaveUntranslatedUnitBlank` that

[2022-03-15 14:26] daniel-sc commented on #8
OK, I'll add this in the next days.
In case you'd have capacity for preparing a PR, this would be very welcome! (You'd probably need to start with a change to the upstream https://github.com/daniel-sc/ng-extract-i18n-merge

[2022-03-16 09:48] Martin-Hogge commented on #7
For background, we migrated our app from Angular 7 up to Angular 13 recently. That's where `xliffmerge` started to not working anymore. and where I've found your nice replacement.

When we were on Angular 7 special characters such as `'` were not escaped. I can understand that is is now and `$localize` is correctly parsing escaped characters so you are right, this was me not fully understanding ho

[2022-03-16 09:48] #7 closed

[2022-03-16 10:45] #8 closed

[2022-03-17 22:36] cmetzbower opened #10 "Custom extraction file names"
Our files were not called messages.xlf.  Might have a config option to pass in your file name.  During the install it could be picked up from angular.json "outFile."  It looked like it wouldn't matter for targets, but it is definitely hardcoded in the normalize section.

Worked beautifully got it up and running in a few minutes as to the days I spent trying to learn and fix up the old xliffmerge t

[2022-03-21 10:28] cargongo opened #11 "defaultLanguage parameter is missing from ngx-i18nsupport"
Hi!

We've migrated from ngx-i18nsupport to ng-extract-i18n-merge and it works almost perfect! The only thing we miss is the defaultLanguage parameter.

![default](https://user-images.githubusercontent.com/11225286/159241781-d2232a46-0408-4c7f-b7bc-ec577c275574.png)

Before, we run "ng extract-i18n" + "ng run [project]:xliffmerge" and we got our messages.es.xlf (default language) with all state ta

[2022-03-22 13:12] #11 closed

[2022-03-22 15:09] #10 closed

[2022-03-22 15:33] daniel-sc commented on #11
Hi @cargongo
thanks for bringing this up!
Would you mind checking if v1.2.0 works better?

[2022-03-22 15:33] daniel-sc commented on #10
Hi @cmetzbower

thanks for bringing this up!
Would you mind checking if v1.2.0 works better?

[2022-03-22 15:48] cmetzbower commented on #10
@daniel-sc
Awesome, I will check it out.  We have moved forward with messages.xlf as we had no real reason for using i18n.xlf, but I'll reset to an older commit and see if everything works just using ng add.  Hopefully someone will like this option in the future.

[2022-03-22 15:50] cargongo commented on #11
Solved! Thank you!

[2022-03-23 00:14] Andrew-Marks-Trisept opened #14 "includeContext not working?"
Thank you so much for making this!  I'm hoping to replace [xliff merge](https://github.com/martinroob/ngx-i18nsupport) with it.  (I'm particularly excited to try `removeIdsWithPrefix`, which may replace an entire node script I had to write for our workflow).

**The issue**: When I try to use the `includeContext` flag, it doesn't seem to include notes from my source file.

_My config:_
[code]

_Sam

[2022-03-23 07:29] #14 closed

[2022-03-23 07:31] daniel-sc commented on #14
Hi @Andrew-Marks-Trisept

thanks for reaching out - would you mind trying v1.2.1 and check if this fixes this issue?

[2022-03-23 14:01] tfohlmeister opened #15 "More documentation and usage examples"
Thanks for this cool tool! I am a bit confused though with what its actually supposed to do, maybe you could shine some light on it.

I *thought* you could use it to extract translation strings from multiple projects, merge them together and use one unified source translation file. I would've then generated target translations in an external tool and built multiple, localized angular apps from tha

[2022-03-23 14:28] daniel-sc commented on #15
Hi @tfohlmeister

this tool is _not_ supposed to merge translations from multiple angular projects, but only merges new and existing translations of a single angular project.

Would you be interested in updating the README.md to make this more clear?

Your multi-project case seems like an interesting extension, but this would probably exceed the scope of this package.

[2022-03-23 16:15] tfohlmeister commented on #15
Ah thats too bad! I am using this in a NX mono-repository and couldn't wrap my head around it, but I guess I should be looking for another tool then!

Thanks for clarifying :)

[2022-03-23 16:15] #15 closed

[2022-03-23 16:39] Andrew-Marks-Trisept commented on #14
Fixed, thank you.  Amazing response time!

[2022-03-23 20:34] Andrew-Marks-Trisept opened #16 "sourceLanguageTargetFile should always receive latest from HTML source?"
Our app is coded in English and we consider it the default/base language.  Translations to other languages happen _from_ en-US _to_ the other cultures.  The HTML source code essentially is where we maintain our English verbiage.  Therefore, I've set `sourceLanguageTargetFile` to my en-US file because it never needs to be translated and all its units should always be `state="final"`.

The problem i

[2022-03-23 20:51] Andrew-Marks-Trisept opened #17 "Space between interpolated statements sometimes removed"
When there are multiple interpolated statements in a row with a space in between, the space is sometimes removed.  This only seems to happen as the message gets more complex.  Consider the following examples:

**HTML**
[code]

**.ts**
[code]

**xlf Output**
[code]

The first example works and outputs `Thing 1` -- I think by virtue of the line break in between the `<ph>` elements?

The second examp

[2022-03-23 22:45] Andrew-Marks-Trisept commented on #17
So I was thinking maybe this wasn't related to this library, because it's like that in the extracted source file.  I thought maybe something changed in Angular 13.

But then I went back and ran the default `ng extract-i18n` script like I used to and sure enough, the space was added properly.  Any idea what the difference would be?  I assumed your `extract-i18n-merge` just ran `extract-18n` in the

[2022-03-24 09:37] #17 closed

[2022-03-24 13:36] #16 closed

[2022-03-24 13:40] daniel-sc commented on #16
@Andrew-Marks-Trisept can you please check if v1.2.2 fixes this?

[2022-03-24 13:40] daniel-sc commented on #17
@Andrew-Marks-Trisept can you please check if v1.2.2 fixes this?

[2022-03-24 16:12] Andrew-Marks-Trisept commented on #16
It does.  Thanks!

[2022-03-24 16:13] Andrew-Marks-Trisept commented on #17
Yes, it does.  Thanks again!

[2022-04-01 10:21] Vorlif opened #20 "Merge without target-item"
Hi,

first of all, thank you for your library. It makes my life much easier. :+1:

I was expecting that if I set `"newTranslationTargetsBlank": true`, there would be no translation and when building the app the original language would be used. So, it would be clear to any user that there is still a translation missing here.

Unfortunately, however, a `<target/>` is inserted into the xlf file, whic

[2022-04-01 12:57] daniel-sc commented on #20
Hi @Vorlif

not sure if I get your intend here. To leave texts in the original/source language until they are translated, I'd be recommended to set `newTranslationTargetsBlank: false` - that way the target is populated with the source:
[code]
Would this solve your problem?

[2022-04-01 14:05] Vorlif commented on #20
Hi @daniel-sc

Thanks for your quick reply. `newTranslationTargetsBlank: false` would be a workaround for me, but not a nice solution. I would like to leave the missing translations blank and display the original text as a fallback.

Through `<target/>`, it is assumed that the translation is an empty string and this empty string is also displayed in the frontend. So nothing is displayed. But witho

[2022-04-03 19:50] daniel-sc commented on #20
I understand - maybe it makes sense to add a third option (besides `true`/`false`) such as `"noTargetElement"`.
Not sure when I find time for this, but I'll definitely give it a try - but if you'd like to create a PR I'd be happy to help!

[2022-04-05 18:32] brokolja opened #21 "includeContext removes multiple context-group"
First. Thank you for this plugin!!!

I think I found a lil bug. I had the same text to translate in multiple components and noticed that it was only translated in one of the components. It seems angular uses context-groups to translate multiple components. I used "includeContext": true to fix this but found the following even without it.

For example this is the original messages.xlf:

[code]

and

[2022-04-11 07:41] daniel-sc commented on #21
Hi @brokolja

sorry for the late response! I tried to reproduce this and found the following:

1. The context-groups are _not_ used to "manage" translations in multiple files/occurrences but are purely informational for the translator. So when you apply the `i18n` attribute correctly to each occurrence, in every place the translation will be used. This is independent of the "includeContext" config

[2022-04-11 09:33] #21 closed

[2022-04-15 10:41] brokolja commented on #21
Can't recreate 2. with 1.2.3. 1. is also gone so I guess it was my fault or some magic. Awesome - Thank you!

[2022-04-20 10:05] daniel-sc opened #22 "Sync target to changed source for initial state"
For translation units that are still untranslated (`state="initial"` / `state="new"`) I would be convenient if a changed source text would be used immediately for the target text as well. This is especially usefull during initial development / before texts are communicated to 3rd parties.

Open question: should this be the default behavior?

[2022-04-26 09:40] daniel-sc commented on #22
Problem: When using `resetTranslationState: true` (default) the following can/will happen:

1. Starting with a translated text with correct state (final/translated)
2. The first change of the text in the template will update the source text and change the state to "initial"/"new" (because of `resetTranslationState: true`)
3. A subsequent change of the text in the template will will/would change th

[2022-04-26 15:24] #22 closed

[2022-05-02 09:25] danjor opened #23 "Usage with Nx"
Hello,

Could it be possible to support Nx by at least be able to handle both angular.json and workspace.json ?
I'm using a workspace.json file instead of angular.json and target extract-i18n-merge is not added when installing ng-extract-i18n-merge package, so I can't use that command.

yarn run [PROJECT_ID]:extract-i18n-merge
yarn nx run [PROJECT_ID]:extract-i18n-merge

produce

NX   Cannot find

[2022-05-02 10:19] danjor commented on #23
I manage to have the target added by running

[code]

[2022-05-02 11:38] CGiustiniani opened #24 "Unexpected / Wrong Results?"
Hey so I have been trying ng-extract-i18n-merge to see wether it can replace the old @ngx-i18nsupport/tooling (using 9 locales), but I ran into some problems.

Installation & Configuration went fine, but when I first executed it I got the following results:

1)Already translated texts in state=translated were overritten
2)Order / Structure of .xlf files was completely modified

**Example:**
As you

[2022-05-02 11:44] #24 closed

[2022-05-02 11:46] Giusti opened #25 "Unexpected results / modification of existing xlf files"
Hey so I have been trying ng-extract-i18n-merge to see wether it can replace the old @ngx-i18nsupport/tooling (using 9 locales), but I ran into some problems.

Installation & Configuration went fine, but when I first executed it I got the following results:

angular.json
![image](https://user-images.githubusercontent.com/6214919/166229114-413c26a2-7746-4f6a-b7d5-2aac5b108932.png)

package.json
`"i

[2022-05-02 19:07] daniel-sc commented on #25
@Giusti Thanks for reporting this. I'll look into the described bugs later this week.

Remark:
- Currently entries are ordered by "id" - I'll add an option for stable order/sorting.

[2022-05-02 19:10] daniel-sc opened #26 "Stable sorting/order"
Add a option for a stable ordering of translation units. New units should be appended.

- [x] handle changed id (fuzzy match)
- [x] handle source and target files

[2022-05-03 07:04] Giusti commented on #25
@daniel-sc Thank you for the quick response.

I fiddled around a bit with the builder.js inside the ng-extract-i18n-merge dist folder:

sortPath: isXliffV2 ? '/xliff/file/unit/@id' : '/xliff/file/body/trans-unit/@id', ---> sortPath: null,

resulted in all trans-units with a non numerical id where kept at the same line and already translated units stayed the same

![image](https://user-images.githu

[2022-05-04 08:50] daniel-sc commented on #23
@danjor thanks for bringing this up!
I admit, that I did not work with nx yet .. to get this working seamlessly with nx, I'd need some concrete requirements. Could you help with this? (additionally I'd help if you could share your project layout (files/folders) and workspace.json)

[2022-05-04 15:45] daniel-sc commented on #25
Hi @Giusti I tried to reproduce this problem but did not succeed yet.
I think I did not yet fully understand your screenshots. Is it possible that the (source) text "Welcome!" is contained in multiple translation units? If so, why? What else could distinguishes the units where the translations are kept from the translations that are reset?
(If you'd be willing to create a minimal reproduction setu

[2022-05-04 19:53] Giusti commented on #25
Hey @daniel-sc really appreciate the support.

I have to investigate a bit further, I manually updated all trans-unit states to final and then executed and about 150 from 450 transunits on every language got a new id assigned and were overritten with state="new".

I am not exactly sure why this logic behaves differently than the @ngx-i18nsupport/tooling, but it seems be related with the xlif-simpl

[2022-05-04 20:13] Giusti commented on #25
@daniel-sc well quicker than expected but I found the issue and its pretty stupid...

I was using @local/cli (for extraction) & @ngx-i18nsupport/tooling (for the xliffmerge)
and now I replaced the whole script by your implementation of both extracting & merging (which is now using angulars cli extraction)

When I revert my base message.xlf file and only run the angular cli extraction without any m

[2022-05-05 04:10] daniel-sc commented on #25
@Giusti not sure I can follow everything..
When you run `ng extract-i18n` only your `messages.xlf` should be updated - so it is not possible that translations are overwritting/reset - correct?
When you run `npm run extract-i18n-merge` (which internally runs `ng extract-i18n`), then a merge of new/changed texts/IDs from messages.xlf to your 9 target xlf files happens.
Could you please detail if the

[2022-05-05 06:20] Giusti commented on #25
@daniel-sc sorry for the confusion.

So since I ran both extract & merge in a single command I did not notice, that the extract command was actually modifying already half of my base messages.xlf (replacing ids, removing targets, adding context groups)

And ofc after 50% of the base messages.xlf was modified and ids changed, also most of my target language files was then modified during the merge

[2022-05-09 10:01] #26 closed

[2022-05-09 18:18] YehorLitsov opened #28 "Space trimming"
Looks like `extract-i18n-merge` command trims spaces, but `extract-i18n` don't. I have cases when i don't need to trim them.
<img width="496" alt="Screenshot 2022-05-09 at 21 14 51" src="https://user-images.githubusercontent.com/68663734/167471745-98925e80-106f-49d6-802c-74cf130a2900.png">
[code]
I have a space before `Change`. But as a result i have:
[code]
May be there is any extra config except

[2022-05-10 03:01] daniel-sc commented on #28
Hi @YehorLitsov
Thanks for your feedback. This option is not yet available. Before adding it I'd like to understand why it is needed. In my experience these white spaces get trimmed in the `ng build` - so it makes no difference for the final output. But please let me know why you'd rather not have it trimmed!
Best
Daniel

[2022-05-10 13:05] daniel-sc commented on #25
@Giusti did you succeed? The latest version 1.4.0 should have an improved ID matching (if you do _not_ disable fuzzy match). Please reopen, if this still does not work as expected!

[2022-05-10 13:05] #25 closed

[2022-05-10 14:11] Giusti commented on #25
@daniel-sc I am nearly finished migrating the translations for all the languages but so far it looks good.
It would be really nice to have a param to be able to configure how sorting behaves.

Most of the issues / work came from the switch from @locl/cli to angulars extraction script.

Thank you very much for supporting me really appreciate it.

[2022-05-10 15:06] daniel-sc commented on #25
@Giusti there is a new "sort" config option - please check the updated readme.
You can configure the angular compiler to error on missing translations - see https://angular.io/guide/i18n-common-merge#angularjson-error-warning-example

[2022-05-13 20:20] YehorLitsov commented on #28
Hi!
Yes, sorry, might be i provided incomplete information and forgot to greeting :)
`npm run extract-i18n` build everything without trimming, like i mentioned in first message, in such cases like this
[code]
the result will be `Some string VALUE some final.`
But using `nom run extract-i18n-merge` the result after build will be `Some stringVALUEsome final.`
It's an issue for me, so i have to do so

[2022-05-16 10:54] daniel-sc commented on #28
@YehorLitsov you are right (angular compiler removes whitespaces _between_ nodes, but not within..)

[2022-05-16 12:05] daniel-sc commented on #28
@YehorLitsov would you mind checking out the pre-release `2.0.0-0` and report back if it works as intended from your side?

[2022-05-20 19:41] YehorLitsov commented on #28
@daniel-sc thank you, this pre-release `2.0.0-0` solved the problem for me. Sorry for long reply

[2022-05-21 13:24] daniel-sc opened #30 "Replace default builder"
By replacing the default builder, usage could be even more streamlined.

- [x] PoC call existing builder without target
- [ ] Configurable on ng add (replace as default)
- [ ] Migration of existing setups?
- [ ] Documentation (too complex to account for 2 scenarios?)

[2022-05-24 09:49] #28 closed

[2022-05-25 05:36] daniel-sc opened #31 "Additional collaborators wanted"
I intend to maintain this library over the coming years.

Since I have other things to do as well, this can only be done on a "best effort" basis.
This is probably enough to keep everything up to date. To shorten response times and consistently provide fixes/updates in a timely manner, I'd like to invite other contributors. This should sustain the development.

I'm not totally sure about a meaning

[2022-05-31 18:34] #30 closed

[2022-06-10 16:44] danjor opened #33 "Add debug option from xliff-simple-merge"
Hi,

It should be good to used last version of xliff simple merge + add support of debug option that is available in xliff-simple-merge but not in ng-extract-i18n-merge.

[2022-06-15 16:11] strout opened #34 "ng extract-i18n fails if the source file does not exist"
Hi,

I have a project where the source file, messages.xlf, isn't checked into my repository. After switching to ng-extract-i18n-merge v2 and building in a fresh checkout, I get:

[code]

This worked when I tried it with an earlier version, maybe v1.3. It looks like it broke with #27 -- it looks like it needs to catch the missing file exception and fall back to the `extract-i18n`-generated file as

[2022-06-15 18:25] daniel-sc commented on #34
@strout Thanks for reporting this and doing the analysis!

I'll probably fix this next week - but you'd be very welcome to provide a PR to speed things up ;-)

[2022-06-16 20:41] #34 closed

[2022-06-17 06:04] daniel-sc opened #36 "support missing target files?"
Any chance to support missing target files?
https://github.com/strout/ng-extract-i18n-merge/blob/a004eabf6d0173a08c6be2d64172a83e038b118f/src/builder.ts#L121

__Originally posted by @tchunwei in https://github.com/daniel-sc/ng-extract-i18n-merge/pull/35#issuecomment-1158379644__

[2022-06-17 06:06] daniel-sc commented on #36
@tchunwei could you explain in which scenario/setup this would be helpful?

[2022-06-17 08:24] tchunwei commented on #36
It is just to provide a smoother experience for a newly added language, so that users do not need to create the target language file manually first before running `extract-i18n`

I could be doing it in a wrong way, kindly correct me if I am doing it incorrectly. Thanks @daniel-sc !

[2022-06-19 10:57] daniel-sc commented on #33
@danjor Sorry for the late reply. Would you mind giving some details on what you'd need/like the debug output for?
(The latest version includes the latest version of xliff-simple-merge already)

[2022-06-20 07:35] danjor commented on #33
Thank you for your reply.
I can't remember what was exactly the issue I was facing but I had to do some debugging and finally manage to do using breakpoints, and also I thout the last version ok ng-extract-i18n-merge was not using the last version of xliff-simple-merge but I was wrong.

[2022-06-20 07:35] #33 closed

[2022-06-24 10:47] LeLunZ opened #39 "Support Angular 12/11/.."
Using angular version 11 (haven't had the time to upgrade)

![Error](https://user-images.githubusercontent.com/31982496/175519778-78ab7226-a878-44ae-9c36-e7e559aba0a6.png)

[2022-06-24 18:22] daniel-sc commented on #39
Currently only Angular 13+ is supported. I'd recommend upgrading your project to 14 (or 13).

If someone is willing to add/test compatibility with older angular versions, I'd be happy to review and assist. Probably I won't find time soon to do it myself.

[2022-06-24 21:21] LeLunZ commented on #39
Yeah I know. We hadn’t had the time to upgrade.
i didn’t see a Version requirement so I thought this should work for most versions.

i changed the angular.json manually, and everything seems to work perfectly.

Really love this project, as it makes everything much simpler!

[2022-06-30 12:48] Khokhlachov opened #40 "Cannot read properties of undefined (reading 'attr')"
Hi, I faced issue if destination file is not empty.
"@angular/core": "14.0.2",
"ng-extract-i18n-merge": "^2.0.1",

https://www.screencast.com/t/Wn8dB1QxvVP2

[2022-06-30 13:04] daniel-sc commented on #40
Hi @Khokhlachov
thanks for reporting! could you detail what the contents of your destination file (messages.en.xlf, I suppose) is?

[2022-06-30 13:05] daniel-sc commented on #40
ok - just read the referenced issue - now I think the problem is clear and solvable :)

[2022-06-30 13:20] Khokhlachov commented on #40
In my case we use third party tool for translators (poeditor.com) so each export will forced to this case...
Thanks for quick response !

[2022-07-01 09:13] #40 closed

[2022-07-16 10:54] derbenutzer opened #41 "Problem when there is no target element in xlf file (not yet translated) (created before merge install)"
had to modify merge.js:

function resetTranslationState(destUnit, xliffVersion, options) {
    var _a;
    if ((_a = options === null || options === void 0 ? void 0 : options.resetTranslationState) !== null && _a !== void 0 ? _a : true) {
        if (xliffVersion === '2.0') {
            destUnit.childNamed('segment').attr.state = (options === null || options === void 0 ? void 0 : options.sourceLa

[2022-07-20 11:36] #41 closed

[2022-07-25 17:49] EricZwirnmann opened #42 "Request to write Xlf changes to a file"
I automate the build of the XLF files using this app.  Would like to have an output file that contains a list of changes that were made to the master and associated locale files.  yes, I can use PR to handle this, but that requires the developers to be responsible to run this in a script.  I currently use the build server run this app in a script and would like to validate that all translations st

[2022-07-26 21:19] daniel-sc commented on #42
Hi @EricZwirnmann

Regarding your primary requirement:

Did you know that you can simply fail your Angular CLI build on missing translation strings: https://angular.io/guide/i18n-common-merge#report-missing-translations? I think this is the best way to handle this. If you think otherwise, please share some details :)

As for the additional requirement:

Here I'd indeed suggest that the PR is the c

[2022-07-26 21:19] #42 closed

[2022-08-12 06:43] Hafnernuss commented on #28
If this is completly resolved, maybe consider removing

from the docs? 🤔

[2022-08-12 07:07] Hafnernuss opened #43 "Whitespaces not trimmed properly?"
**Describe the bug**
I am not sure if it's a bug as I am not sure I fully know if this is intended behaviour or not.
I get a lot of warnings like this:
![image](https://user-images.githubusercontent.com/18393658/184302094-74a62be6-a7ab-482d-b824-0fa605b4e188.png)

Where some of the lines look like that:
[code]

This causes the translator to pick the string up as " Login " rather than "Login".
Funn

[2022-08-12 08:17] daniel-sc commented on #43
@Hafnernuss This is from the angular i18n extraction. See https://stackoverflow.com/q/70900706/2544163

[2022-08-12 08:37] Hafnernuss commented on #43
so this means there is nothing I can do? I have to break sometimes because of line length limits...

[2022-08-12 09:10] daniel-sc commented on #43
I'd recommend too use line breaks before and after all texts where this problem occurs. (This is how I do it in my project.)

Besides this, there is little you can do, I'm afraid.

[2022-08-12 09:11] #43 closed

[2022-08-26 18:57] ricardosaracino opened #44 "JSON export format"
I noticed the native angular now supports exporting in JSON, and it would be nice if this did to. Great work on this this project thanks a ton.

[2022-08-26 19:46] daniel-sc commented on #44
@ricardosaracino thanks for reaching out!

From what I read in https://github.com/angular/angular/issues/45465 the json format is not really final/stable.

Furthermore the current format (without translation state and without source text) is barely usable in reality (I suspect). And with the current implementation the merge is not as simple..

Based on this, I'd rather postpone this. Of course if

[2022-08-30 21:49] davidyoung77 commented on #23
`"localize": "nx affected --target=extract-i18n-merge",`

This is what I use for NX and it works perfectly

[2022-08-30 21:53] davidyoung77 opened #45 "Setting includeContext to false removes the context from the angular generated messages file"
**Is your feature request related to a problem? Please describe.**
Setting "includeContext": false, to false removes the context from the Angular generated file

**Describe the solution you'd like**
Merge should not touch the Angular generated file

**Describe alternatives you've considered**

**Additional context**
I want to remove the location context from the merged files but leave it in the an

[2022-08-30 21:59] davidyoung77 opened #46 "newTranslationTargetsBlank omit does not work"
**Describe the bug**
When adding new strings for translations with the setting `"newTranslationTargetsBlank": "omit",` I get the following error
`Cannot read property 'attr' of undefined`

**Setup/Configuration**
[code]

If a translate unit doesn't exist this fails

**Expected behavior**
I expect the new translations to merge without the target element

**Screenshots**
If applicable, add screensho

[2022-08-31 01:24] daniel-sc commented on #45
@davidyoung77 thanks for reporting in!

This behavior actually is on purpose - the assumption is that if the context is not needed for the translation, it is not needed in the original messages.xlf as well. Keeping the context in messages.xlf will (potentially) result in many changes just for line changes, that obscure the actual (textual) changes.

Could you explain your setup/situation so I can

[2022-08-31 03:09] davidyoung77 commented on #45
Thanks for your quick response.

So my context is a couple points:
- I don't like the this third party lib edits the file that is generated by the Angular lib, if it needs to create a file to handle merging from, it should create a temp copy of the messages.ts file, but leave the original file untouched
- The location context is useful for engineers and is nice in the base messages.xlf file, but p

[2022-08-31 16:01] davidyoung77 commented on #46
@daniel-sc I have updated with versions, lmk if you need anymore context

[2022-09-04 03:14] daniel-sc commented on #45
@davidyoung77 I think I get your idea.

There is one point, I'm not sure you are aware of: The messages.xlf is changed by this lib for other reasons as well:
- White space normalization (eg adding new line breaks in the template (think 'format file' in your IDE) should not lead to changes in messages.xlf as these changes are effectively meaningless and obscure the real changes in a PR.
- Sorting o

[2022-09-06 20:27] daniel-sc commented on #46
@davidyoung77 I could not reproduce this.

- Is there any stacktrace coming with the error?
- Is the error actually going away if you set `newTranslationTargetsBlank` to `true` or `false`?
- Could you try to reproduce this on Windows or Linux?

Any help appreciated :-)

[2022-09-07 16:56] davidyoung77 commented on #45
Thanks @daniel-sc these are good points (that I was not aware of), that sound like they should definitely be in the Angular/localize lib.

Having fewer changes in source control is a good thing.

One thing I want to make sure we are aware of is the making changes the messages.xlf file will potentially introduce complexity when supporting later versions of angular/localize, for example if they impr

[2022-09-07 19:48] #45 closed

[2022-09-07 20:43] davidyoung77 commented on #46
@daniel-sc I did some debugging and found the issue, it is a versioning problem that you have fixed here https://github.com/daniel-sc/xliff-simple-merge/blob/main/src/merge.ts#L67

The handling of non existent target wasn't in my version, When I updated to the latest version of this lib, it must not have updated simple merge

Old problem code
[code]

[2022-09-07 21:44] davidyoung77 commented on #46
Woks as expected now, thanks

[2022-09-07 21:44] #46 closed

[2022-09-08 15:58] davidyoung77 opened #48 "Add support for a pseudo language"
**Is your feature request related to a problem? Please describe.**
Not a problem but an enhancement.

As a QA engineer I would like the ability to be able to confirm that new texts were indeed marked for translation

**Describe the solution you'd like**
A good standard for confirming that texts are indeed marked for translation is as follows

I would like the ability to create a pseudo language lo

[2022-09-08 19:56] daniel-sc commented on #48
hi @davidyoung77

If I understand the issue correctly, this can be done with a simple shell one liner:
[code]
(Assuming messages.en.xlf is configured as `sourceLanguageTargetFile`.)

If this indeed solves your request, I'd rather _not_ complicate this libs config but suggest you use the script at the appropriate place (e.g. before running your QA check or as a git pre-commit hook.

[2022-09-14 15:37] davidyoung77 commented on #48
Thanks @daniel-sc I understand wanting to keep this out of the library

My use case is slightly different than that.
- I need to support both Mac and windows, so I can do the same thing with a javascript tool
- I set` "newTranslationTargetsBlank": "omit",` so there is no target in the source file, but I can either prefix the source or copy the source and create a target.

I will close this issue a

[2022-09-14 15:37] #48 closed

[2022-10-03 09:17] masartbenji opened #49 "Source must be equal to target in main file"
Hello,

It can interesting to have an option to allow the possibility to have, in main translation file, source field to be equal to target.

For example, if I set a translation in Angular, then I launch your script, the source tag is correctly set but not the target

[2022-10-03 10:09] daniel-sc commented on #49
Hi @masartbenji

Not sure if I did understand what you want to achieve. You'd like a translation file where source and target are equal? E.g. a messages.en.xlf (assuming the texts in your templates are English). This could be done by using the configuration option `sourceLanguageTargetFile`. Would this solve the issue? (In case not, a more concrete example would be appreciated :) )

[2022-10-03 11:28] masartbenji commented on #49
Hello @daniel-sc

It's fine, I used the old version of the library, but now I updated library and it works fine.

Best regards.

[2022-10-03 12:40] #49 closed

[2022-10-13 13:54] mpumford commented on #39
I'm seeing this issue on an angular 13 project. It does have some library dependencies that are from older versions but there is no translation text being pulled from these libraries.

Is there any info I can provide to help debug this?

[2022-10-13 14:39] daniel-sc commented on #39
@mpumford could you share your package.json and package-lock.json?

[2022-10-21 14:13] ablomq opened #50 "Update dependency xliff-simple-merge to version 1.0.0"
**Describe the bug**
No changes to <note> items are carried over from the source file to the destination file. This has been fixed in dependency  xliff-simple-merge version 1.0.0. Please update package.json so it use the latest version of xliff-simple-merge.

[2022-10-21 19:28] daniel-sc opened #51 "Use peer dependencies"
See https://indepth.dev/posts/1187/npm-peer-dependencies

[2022-10-21 19:30] daniel-sc opened #52 "Angular 15 support"
- [ ] Check compatibility
- [x] Run CI with angular 15

[2022-10-24 09:33] daniel-sc commented on #51
resolved with 48134a1b0c1cd92fefd2dbc59806067afa7849bc

[2022-10-24 09:33] #51 closed

[2022-10-24 10:17] #50 closed

[2022-10-24 10:59] #52 closed

[2022-10-27 08:55] ftaffelt opened #55 "Give a hint if the same ID occurs more than once"
During a faulty merge in our source versioning system, duplicate ID's occurred in the messages files for one language. This condition was not detected for a long time and led to a long search for causes on different levels before the problem was found in duplicate message IDs.

I know the angular property "i18nDuplicateTranslation" but this doesn't seem to give a warning or error message here eith

[2022-10-27 14:50] daniel-sc commented on #55
@ftaffelt what would be the desired result?
Some logging vs. error + exit vs. remove duplicates?

(not really sure if / how this fits into this lib - some angular option affecting/aborting the build like i18nDuplicateTranslation would seem a better fit?)

[2022-10-28 05:59] ftaffelt commented on #55
Good question. I think that an automatic removal of duplicate values is not possible, because you don't know what is the right one to keep. Such a warning would be helpful.

In my case, I wrote an XSL stylesheet that embeds the duplicate values in the transunit:
[code]
Then it is a manual/human job to correct the values and remove the entries under duplicates/values again.

But maybe you are right

[2022-10-30 12:02] daniel-sc commented on #55
After some thought, this can probably be done with a "simple" bash command (not tested) - which could be a verification step in your CI:
[code]
Based on this, I'd rather keep this additional complexity out of this lib.
In case you - or others - think this is relevant to more users, please reopen/comment!

[2022-10-30 12:02] #55 closed

[2022-10-31 07:07] TTvanWillegen opened #56 "Additional logging // "Merge and normalize" step hangs"
Is there a way to show additional logging during the merge?
I'm running this program on my existing translation base (+/- 3500 translations; merged before with xliffmerge, moved to this due to the console error) and it takes >10 min and is still not finished. I'd like to know if it crashed on something or if it is still trying its best.

[2022-10-31 09:47] daniel-sc commented on #56
@TTvanWillegen currently there is only little output, but it should not take that long..
Is there any output at all? What nodejs version and OS are you running?

[2022-10-31 10:01] TTvanWillegen commented on #56
Hi Daniel,
I'm currently on Node version 16.16.0 and Angular version 14.2.3.

It only outputs the following and then hangs:
![image](https://user-images.githubusercontent.com/15815200/198982188-119547af-5bea-4268-a7f3-63283d030d98.png)

"extract-i18n" in angular.json looks like this:
[code]

Folder structure looks like this:
![image](https://user-images.githubusercontent.com/15815200/198982588-62a

[2022-10-31 12:09] daniel-sc commented on #56
@TTvanWillegen thanks for the update - would it be possible to share the messages.xlf (before and after the extraction) and messages.es-ES.xlf? In case you'd rather share it privately: daniel-schreiber@gmx.de

[2022-10-31 13:44] TTvanWillegen commented on #56
@daniel-sc Thank you, I've sent them to you via e-mail. You should've received them by now.

[2022-10-31 14:48] daniel-sc commented on #56
thanks I'll look into this..

[2022-11-01 18:10] daniel-sc commented on #56
Update: still working on this. Looks like this is caused by really bad performance when fuzzy matching many entries. The fix is almost ready though..

[2022-11-02 08:03] #56 closed

[2022-11-02 08:58] TTvanWillegen commented on #56
Thank you very much; I've re-installed, so it would grab the v1.0.1 of xliff-simple-merge and can confirm the performance is way better 👍

[2022-11-02 15:26] asafbenm opened #57 "get angular default ".No translation found for" messages"
HI,
when I run extract-i18n  all the missing translation added to the target translation files, (with same source and target)
so angular can't identify which translation is missing
my question :  Can I use your package and get the angular missing translations messages ability?

Thanks you

[2022-11-02 19:23] daniel-sc commented on #57
@asafbenm I suppose you mean the option [i18nMissingTranslation](https://angular.io/guide/i18n-common-merge#report-missing-translations).

This is relevant for catching the following cases:
- Adding new texts to templates, but forgetting to run `ng extract-i18n`.
- Loosing translation units when handling the translation files (e.g. with external translators)

To find untranslated texts, you should